/* Header Styles */

.site-header {
    position: fixed;
    top: 0;
    left: 20%;
    right: 20%;
    height: 15%;
    background-color: var(--light-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 99;
    border-bottom: 1px solid #000; 
    /* display: flex; */
   /*  align-items: center;*/
    justify-content: space-between;
    /* gap: 20px; */
    padding: 0px 0px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.header-content {
    display: flex;
    flex-direction :row;
    justify-content: space-between; 
    
    height: 100%;
    /* padding: 0 2rem; */
    margin: 4px; /* Add some space below the header content */
    
}

.quote-container {
    background-color: var(--bg-citation); 
    text-align: center;
    width: 70%; 
    max-height: 100px;
    margin: 0 auto; /* Centre horizontalement le conteneur */
    
}
    .logo-contenaire{
        display: flex;
        flex-direction:column;
    }
        .name {
            font-size: 1em;
            color: var(--dark-color);
            font-weight: bold;
            text-align: center;
            margin: 0;
        }
        .logo{
            height:80px;
            max-height: 80px;
            min-height: 50px;
            width: auto;
        }
       
        .portfolio-title { 
            text-align: center;
            width: 100%;
            color: var(--dark-color);
            font-size: 3rem;
            border-radius: 8px;
        }
        .contact_text{
            font-size: 1.5rem;
        }
        .contact-info {
            /* font-size: 0.1rem; */

            color: var(--dark-color);
            text-align: center; 
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            
            margin-top: 5%; 
            /* gap: 0.5rem;  */
          }
    
    @media (max-width: 768px) 
    {
       
        .portfolio-title { 
            font-size:1.2em;  
        }
        .contact-info {
            font-size: 1em;
        }
    }
  
  .contact-info i {
      color: var(--primary-color);
      /* margin-right: 0.5rem; */
  }      



        .quote-container p {
            padding-top: 1rem;
            color:var(--dark-color);
            /* font-size: 18px; */
            font-weight:bolder;
            font-style:italic;
    
            overflow: hidden;
            text-overflow: ellipsis;

        }


/* 
.ml-3 {
    margin-left: 1rem;
} */

.javascript-logo {
    width: 64px;
    height: 64px;
    fill: #f7df1e;
    animation: jsRotate 10s linear infinite;
}

.skill-card:hover .javascript-logo {
    animation-duration: 2s;
}

  
  .hero-title h1 {
    /* font-size: 4rem; */
    font-weight: bold;
    /* margin-bottom: 1rem; */
    text-transform: uppercase;
  }
  
  .hero-title p {
    font-size: 1.5rem;
    max-width: 600px;
    /* margin: 0 auto; */
  }

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
      margin-top: 20px; /* Ensure some space above the main container */
}

.sidebar-left, .sidebar-right, .hero {
    flex: 1;
    margin: 0 10px;
}

/* Optional: Adjust the width of sidebars and hero section */
.sidebar-left, .sidebar-right {
    max-width: 20%;
    min-width: 100px;
} 

.hero {
    max-width: 60%;
}



